<h1>Edit Post</h1>

<%= form_for @post do |p| %>
	<p>
		<%= p.label :title %><br/>
		<%= p.text_field :title %>
	</p>
	<p>
		<%= p.label :author %><br/>
		<%= p.collection_select(:author_id, Author.all, :id, :name) %>
	</p>
	<p>
		<%= p.label :content %><br/>
		<%= p.text_field :content %>
	</p>
		<p>
		<%= p.submit "Update" %>
<% end %>