<h1>Create a new Post</h1>

<%= form_for @post do |p| %>
	<p>
		<%= p.label :title %><br/>
		<%= p.text_field :title %>
	</p>
	<p>
		<%= p.label :author %><br/>
		<%= p.collection_select(:author_id, Author.all, :id, :name) %>
	</p>
	<p>
		<%= p.label :content %><br/>
		<%= p.text_area :content %>
	</p>
		<p>
		<%= p.submit "Create" %>
<% end %>

<p>===</p>
<%= link_to "Cancel and return to All Posts", posts_path %>