<h1>Create a new Posts</h1>

<%= form_for @post do |p| %>
	<p>
		<%= p.label :title %><br/>
		<%= p.text_field :title %>
	</p>
	<p>
		<%= p.label :author %><br/>
		<%= p.text_field :author %>
	</p>
	<p>
		<%= p.label :content %><br/>
		<%= p.text_field :content %>
	</p>
		<p>
		<%= p.submit "Create" %>
<% end %>